<div class="management">
<h1>Account Management</h1>
  <% if(title) { %>
    <h2><%= title %></h2>
    <% } else {
  res.redirect('/')
 } %>

  <%- messages() %>

  <div class="account-links">
      <h3>Account Information</h3>
      <a href="/account/update/<%= locals.accountData.account_id %>">Edit Account Information</a>
      <% if(locals.accountData.account_type === 'Admin' || locals.accountData.account_type === 'Employee') { %>
        <h3>Inventory Management</h3>
        <a href="/inv">Manage Inventory</a>
      <% } %>
  </div>

</div>