@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Roboto:wght@300&display=swap');


/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/* variables */

:root {
  --primary-color: #D24545;
  --secondary-color: #E6BAA3;
  --header-font: 'Nunito Sans', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--secondary-color);
}

/* header */


#top-header {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 1rem;
}

.siteName {
  grid-column: 1 / 2;
  font-size: 1.5rem;
  font-weight: bold;
}

#tools {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}

nav ul {
  background-color: var(--primary-color);
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0.5rem;
}

nav li {
  color: #fff;
  padding: 0.5rem;
}

.gallery {
  grid-column: 1 / 3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.gallery h1 {
  grid-column: 1 / 3;
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

.gallery #inv-display {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}

#inv-display li {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  width: 500px;
  height: 400px;
  cursor: pointer;
}

#inv-display li:hover {
  border-color: #333;
}

#inv-display li img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.namePrice {
  width: 100%;
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}

.error {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

.error p {
  color: red;
}

.car-details-container {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding: 0.3rem 1rem;
  text-align: center;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-gap: 1rem;
}

.car-details-container h1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.main-information {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 200px;
  padding: 1rem;
}

.car-photo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-information {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0.2rem;
}

.prominent-information {
  margin: 1rem 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0.5rem;
}

.prominent-information p {
  margin: 0;
}

.other-information {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.other-information p {
  margin: 0;
  font-size: 0.6rem;
}

.car-description {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: left;
}

.car-information p span {
  font-weight: bold;
}

.account-container, .management {
  min-width: 500px;
  max-width: 800px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  background-color: var(--secondary-color);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
}

.management {
  grid-row: 1/2;
}

.password-container {
  width: 100%;
  position: relative;
}

#password {
  padding-right: 30px; /* Adjust as needed to make room for the eye icon */
}

#togglePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

input:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}

input:required:invalid, input:focus:invalid {
  border: 1px solid red;
}

input:required:valid {
  border: 1px solid green;
}

select, textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  font-size: 0.8rem;
}

textarea {
  resize: none;
  height: 5rem;
}

.account-container form,
  .management form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }

  .account-container form label,
  .management form label {
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
  }

  .account-container form input,
  .management form input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-size: 0.8rem;
  }

  .account-container form input[type=submit],
  .management form input[type=submit] {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .account-container form p a {
    color: #fff;
    text-decoration: underline;
  }

.management-links {
  list-style-type: none;
  padding: 0;
}

.management-links li {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}
.management-links li a {
  color: #fff;
  text-decoration: none;
}

.management-links li:hover {
  background-color: var(--primary-color);
}



.account-links a {
  color: #fff;
  font-size: 1.0rem;
}

.account-links a:hover {
  color: var(--primary-color);
}

#messages ul {
  list-style-type: none;
  padding: 0;
}

#messages li {
  margin-bottom: 1rem;
  background-color: transparent;
}

#messages li:hover {
  background-color: transparent;
}

.classification-list {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
  padding: 3.5rem;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
}

.btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-secondary:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.management form input[type=submit]:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #333;
}