<% if (title) { %>
  <div class="error">
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  <p><%= message %></p>
  <div class="error-image">
    <% if (title === 404) { %>
    <img src="images/errors/error404.webp" alt="error">
    <% } %>
  </div>
  </div>